<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%load static%}
  {%block body_block%}
  <link rel="stylesheet" href="{%static 'css/auth123.css'%}">

  <div class="jumbotron">
      <div class="container" align="ceter">
          <h1> Welcome to BAPOO.exam.PORTAL</h1>
          <h2>Rules:</h2>
          <ul>
              <li>Rule 1: you should write only one exam per day</li>
              <li>Rule 2: --------------------------------------</li>
              <li>Rule 3: --------------------------------------</li>
              <li>Rule 4: --------------------------------------</li>
              <li>Rule 5: --------------------------------------</li>
              <li>Rule 6: --------------------------------------</li>




          </ul>
      </div>
  </div>
{%endblock%}